<!-- Contacts -->
<section id="three">
    <h2>Get In Touch</h2>
    <p></p>
    <div class="row">
        <div class="8u 12u$(small)">
            <form method="post" action="https://getsimpleform.com/messages?form_api_token=417f24c1df377d6f82e0add5ca197c6d">

                <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                <input type='hidden' name='redirect_to' value='http://contrast-avenue.com/contacts-sent.html' />

                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                    <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                </div>
                <br/>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>
        </div>
        <div class="4u$ 12u$(small)">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon fa-home"><span class="label">Address</span></h3>
                    190031, Saint Petersburg, <br />
                    Bronnitskaya 42 «А», 3-N<br />
                    Russia
                </li>
                <!--
                <li>
                    <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
                    000-000-0000
                </li>
                -->
                <li>
                    <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>

                    <SCRIPT TYPE="text/javascript">
                        <!--
                        var2 = 'fo@';
                        emailE=('in' + var2 + 'contrast-avenue.com')
                        document.write('<A style="font-size: 13px" href="mailto:' + emailE + '">' + emailE + '</a>')
                        //-->
                    </script>

                    <NOSCRIPT>
                        <em>Email address protected by JavaScript.<BR>
                            Please enable JavaScript to contact me.</em>
                    </NOSCRIPT>

                </li>
            </ul>
        </div>
    </div>
</section>