<!-- Header -->
<header id="header">
    <div class="row">
        <div class="12u$">
            <a href="/" class="logo"><img src="/images/logo.png" alt="Contrast Avenue" /></a>
            <div class="description">It's possible, that traditional ways of work aren't fit current technological progress...</div>
        </div>
        <div class="12u$">
            <h1>
                <a href="/">Home</a><br />
                <a href="/pages/projects.html">Projects</a><br />
                <!-- <a href="/pages/blog.html">Blog</a><br /> -->
                <!-- <a href="/pages/jobs.html">Jobs</a><br /> -->
                <a href="/contacts.html">Contact&nbsp;us</a><br />
            </h1>
        </div>
    </div>

</header>